body {
  margin:0;
  background:url(pics/verlauf.jpg) repeat-x #a8d01a;
  font:12px sans-serif;  
}    

/*** Style Definitionen fuer den Container ***********************/
div#container {  
  position:absolute;
  background-color:#EEE;
  width:640px;
  height:480px; 
  top:50%;
  left:50%;
  margin-left:-320px;
  margin-top:-240px;
  border:1px dashed #3eb00d;
}

/*** Style Definitionen fuer den Bereich des Haupttextes (main) **/
div#main {
  background-color:#FFF;
  position:absolute;
  width:470px;
  height:450px;
  top:50%;
  left:50%;
  margin-top:-240px;
  margin-left:-320px;
  padding:5px;
  overflow:auto;
}

/*** Style Definitionen fuer den Navigationsbereich (block) ******/
div#block {    
  background-color:#EEE;  
  position:absolute;
  width:155px;
  height:460px;
  top:50%;
  left:50%;
  margin-top:-240px;
  margin-left:160px;
}

#block ul {
  list-style-type:none;
  margin:0px;
  padding:2px;
}

#block li {   
  padding:5px;
  border-bottom:1px solid #CCC;
}

#block a {
  text-decoration:none;
  color:#007700;
}

#block a:hover {
  text-decoration:underline;
}

div#footer {
  background-color:#BBB; 
  text-align:center;
  position:absolute;
  width:636px;
  height:16px;
  top:50%;
  left:50%;
  margin-top:220px;
  margin-left:-320px;
  padding:2px;
  font:10px sans-serif;
}

/*** Style Definitionen fuer den Announcement Bereich auf der Startseite */
p#announcement {
  background-color:#EE9292;
  border:solid 1px #FF0000;
  padding:5px;
  font:11px monospace;
}

/*** Uebergreifende Formate *******************************************/
h3 {
  font:1.0em sans-serif;
  font-weight:bold;
}

h4 {
  font:1.0em sans-serif;
  font-weight:bold;
  color:#777;
  margin-top:10px;
  margin-bottom:5px;
  margin-left:5px;
  padding-top:4px;	
}


