body {
  margin:0;
  background:url(pics/verlauf.jpg) repeat-x #a8d01a;
  font:11px sans-serif;  
}    

/*** Style Definitionen fuer den Container ***********************/
div#container {  
  position:absolute;
  background-color:#EEE;
  width:595px;
  height:295px; 
  top:50%;
  left:50%;
  margin-left:-298px;
  margin-top:-148px;
}

div#left {
  background:url(pics/dbase_converter.png) no-repeat #FFF;
  position:absolute;
  width:64px;
  height:295px;  
  top:0px;
  left:0px;
  text-align:left;
}

/*** Style Definitionen fuer den Bereich des Haupttextes (main) **/
div#main {
  background-color:#FFF;
  position:absolute;
  width:393px;
  height:285px; 
  top:0px;
  left:192px;
  padding:5px;
  text-align:left;
  overflow:auto;
}

/*** Style Definitionen fuer den Navigationsbereich (block) ******/
div#main_nav {    
  background-color:#EEE;  
  position:absolute;
  width:128px;
  height:295px;
  top:0px;
  left:64px;
}

#main_nav ul {
  list-style-type:none;
  margin:0px;
  padding:2px;
}

#main_nav li {   
  padding:5px;
  border-bottom:1px solid #CCC;
}

#main_nav a {
  text-decoration:none;
  color:#007700;
}

#main_nav a:hover {
  text-decoration:underline;
}

/*** Uebergreifende Formate *******************************************/
h3 {
  font:1.0em sans-serif;
  font-weight:bold;
}

h4 {
  font:1.0em sans-serif;
  font-weight:bold;
  color:#777;
  margin-top:10px;
  margin-bottom:5px;
  margin-left:5px;
  padding-top:4px;	
}


